<%= form_for order, url: update_checkout_path(order.state), html: { id: "checkout_form_#{order.state}" } do |form| %>
  <% if order.state == "address" || !order.email? %>
    <div class="text-input">
      <%= form.label :email, 'Customer E-Mail:' %>
      <%= form.email_field :email, required: true, placeholder: 'name@example.com' %>
    </div>
  <% end %>

<br>

<div>
 <button id="find-me">Show My Location</button><br />
    <p id="status"></p>
    <a id="map-link" target="_blank"></a>
 <%= javascript_include_tag('main.js')%>
</div>

  <%= render "checkouts/steps/#{order.state}_step", form: form, differentiator: @differentiator %>
<% end %>
