<%= form_for order, url: update_checkout_path(order.state), html: { id: "checkout_form_#{order.state}" } do |form| %>
  <% if order.state == "address" || !order.email? %>
    <div class="text-input">
      <%= form.label :email, 'Customer E-Mail:' %>
      <%= form.email_field :email, required: true, placeholder: 'name@example.com' %>
    </div>
  <% end %>

<br>

<%# <div>
 <button id="find-me">Show My Location</button><br />
    <p id="status"></p>
    <a id="map-link" target="_blank"></a>
 <%= javascript_include_tag('main.js')%>
<%# </div> %>

<div id="map" style="height: 400px; width: 400px;"></div>

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "AIzaSyBS74oP_GMaiomktZRfvK9Pt8VS8caEhn8", v: "beta"});</script>

 <%= javascript_include_tag('main.js')%>

    <!--
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <%# <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS74oP_GMaiomktZRfvK9Pt8VS8caEhn8&callback=initMap&v=weekly"
      defer
    ></script> %>

 <%= render "checkouts/steps/#{order.state}_step", form: form, differentiator: @differentiator %>
<% end %>
